<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
       <menuitem id="ds_hospital_menu" name="Rumah Sakit" sequence="10"/>
       
       <!-- <menuitem id="ds_base_hospital_menu_categ" name="Pendaftaran Pasien" parent="db_base_hospital_menu_root" sequence="1"/> -->


      
    </data>
</odoo>